@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans);
}



.Navbar {
  display: flex;
  flex-wrap: wrap;
  vertical-align: middle;
  padding: 1em;
  position: fixed;
  width: 100vw;
  min-height: 70px;
  background-color: orange;

  & .ant-btn:focus, & .ant-btn:hover, & .ant-btn {
    outline: none;
    box-shadow: none;
    background-color: transparent !important;
    border-color: transparent !important;
    box-shadow: none;
  }
}

.Navbar-option {
  background-color: orange;
  height: 100%;
  font-size: 1.8em;
  font-weight: bolder;
  border: none;
  
  &:hover {
    background-color: rgb(195, 127, 0);
  }
}

.Logo-OMBT {
  height: 30px;
  width: 100px;
}