@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  overflow-x: hidden;
  background: white;
  color: var(--foreground);
  font-family: var(--font-geist-sans);
  flex-wrap: wrap;
}



.Navbar {
  display: flex;
  flex-wrap: wrap;
  vertical-align: middle;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
  position: sticky;
  width: 100vw;
  height: 70px;
  background-color: orange;
  gap: 3vw;

  & .ant-btn:focus, & .ant-btn:hover, & .ant-btn {
    outline: none;
    box-shadow: none;
    border-color: transparent !important;
    box-shadow: none;
  }
  & .ant-btn:hover {
    cursor: pointer;
    background-color: rgb(203, 132, 0) !important;
  }
}

.Navbar-option {
  background-color: orange;
  height: 60px;
  font-size: 1.8em;
  font-weight: bolder;
  border: none;
}

.Logo-OMBT {
  height: 30px;
  width: 100px;
}

.content {
  position: relative;
  padding: 2em;
}


@media (max-width: 650px) {
  .Navbar {
    height: 150px;
    align-items: flex-start;
  }
}