@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  overflow-x: hidden;
  background: white;
  color: black;
  font-family: var(--font-geist-sans);
  flex-wrap: wrap;
}



.Navbar {
  display: flex;
  flex-wrap: wrap;
  vertical-align: middle;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
  position: sticky;
  width: 100vw;
  height: 70px;
  background-color: orange;
  gap: 3vw;

  & .ant-btn:focus, & .ant-btn:hover, & .ant-btn {
    outline: none;
    box-shadow: none;
    border-color: transparent !important;
    box-shadow: none;
  }
  & .ant-btn:hover {
    cursor: pointer;
    background-color: rgb(203, 132, 0) !important;
  }
}

.Navbar-option {
  background-color: orange;
  height: 60px;
  font-size: 1.8em;
  font-weight: bolder;
  border: none;
}

.Logo-OMBT {
  height: 30px;
  width: 100px;
}

.content {
  position: relative;
  padding: 2em;
}


@media (max-width: 650px) {
  .Navbar {
    height: 150px;
    align-items: flex-start;
  }
}

.dot {
  animation: blink 1.4s infinite;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}
.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes blink {
  0% { opacity: 0 }
  50% { opacity: 1 }
  100% { opacity: 0 }
}



/* Estilos para a janela do chat */
.chat-window {
  position: fixed;
  bottom: 90px;
  right: 24px;
  width: 100%;
  min-width: 550px;
  max-height: 80vh;
  overflow: auto;
  z-index: 1000;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  background-color: #fff;
  padding: 16px;
  box-sizing: border-box;
}

/* Responsividade para telas pequenas */
@media (max-width: 767px) {
  .chat-window {
    width: 100%; 
    min-width: 0; 
    max-width: none; 
    bottom: 80px;
  }

  .float-button {
    width: 50px;
    height: 50px;
    right: 10px;
    bottom: 10px;
  }
}
