.Alternativas {
    display: flex;
    flex-direction: column;
    width: 100%;

    gap: 5px;
    height: auto; /* ou qualquer valor que você deseje, ajusta a altura para 100% da tela */
}

.Alternativa {
    width: 100% !important;
    display: flex;
    vertical-align: middle;
    align-items: center;
    box-sizing: border-box !important;
    flex-grow: 1; /* Isso vai permitir que os TextAreas cresçam para ocupar o espaço restante */
}

.TextArea {
    flex-grow: 1; /* Faz o TextArea ocupar o espaço disponível */
    min-height: 50px; /* Tamanho mínimo, para não ficar muito pequeno */
    max-height: 100px; /* Tamanho máximo */

    border: 1px solid #ccc;
    width: 100%; /* Garante que o TextArea ocupe toda a largura disponível */
}


.BotaoEnviar {
    background-color: orange;
    color: white !important;
    border-color: white !important;
    font-size: 20px;
    
    &:hover {
        background-color: rgb(200, 130, 0) !important;
        color: white !important;
        border-color: white !important;
    }
}



.Questoes {
    margin-top: 30px;
}









.Cronometro {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: orange;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    z-index: 9999;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    font-size: 16px;
}
